@import url(./backgrounds.css);

.display-hidden {
  display: none;
  /* visibility: hidden; */
}
.text-error {
  color: red;
}
.text-success {
  color: green;
}

.memo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 18px;
  padding: 20px 0;
}

.game__caption {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}

.game__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.game__time--left {
  font-size: 20px;
  text-align: right;
}
.game__player--active {
  font-size: 20px;
  text-align: left;
}

.game__btn--restart {
  /* ! выровнять кнопку посредине страницы! */
  border: none;
  border-radius: 3px;
  padding: 10px 45px;
}
.game__btn--restart:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.game__btn--restart:focus {
  opacity: 0.8;
  transform: scale(1.05);
}
.game__btn--restart:active {
  transform: scale(1);
}

.game__card--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
.game__card--wrapper:hover {
  transform: scale(1.02);
}
.game__card--wrapper:focus .game__card .game__card--back {
  opacity: 0.8;
}
.game__card--wrapper:active {
  transform: scale(0.98);
}

.game__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
}

.game__card {
  position: relative;
  height: 150px;
  width: 200px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.496);
  cursor: pointer;
  transform-style: preserve-3d;
  transition:
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
.game__card.is-flipped {
  box-shadow: -5px 5px 15px #000;
  transform: rotateY(180deg);
}
.game__card--front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: bisque;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.game__card--back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(179, 176, 176);
  width: 100%;
  height: 100%;
  font-size: 46px;
  font-weight: 200 !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
}
